
<footer>
    <div class="bg-navy">
        <div class="container">
            <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 my-5 border-top">
            <div class="col mb-3">
                <a href="{{ '/' | relative_url }}" class="d-flex align-items-center mb-3 link-dark text-decoration-none">
                    <img src="{{ '/assets/images/D-CRAFT-Logo-White.png' | relative_url }}" alt="dcraft logo">
                </a>
                <p>Helping digital collections measure impact.</p>
                <p>Hashtag: #digreuse</p>

                
            </div>
        
            <div class="col mb-3">
        
            </div>
        
            <div class="col mb-3">
                <h5>Section</h5>
                <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Home</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Features</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Pricing</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0">FAQs</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0">About</a></li>
                </ul>
            </div>
        
            <div class="col mb-3">
                <h5>Section</h5>
                <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Home</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Features</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Pricing</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0">FAQs</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0">About</a></li>
                </ul>
            </div>
        
            <div class="col mb-3">
                <h5>Section</h5>
                <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Home</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Features</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Pricing</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0">FAQs</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0">About</a></li>
                </ul>
            </div>
            </footer>
        </div>
    </div>
    <div class="bg-navy-light">
        <div class="container"></div>
            <a href="https://creativecommons.org/licenses/by/4.0/" target="_blank">
                This work is licensed under a Creative Commons Attribution 4.0 International License.
            </a>
        </div>
    </div>
</footer>