<footer class="mt-5">
    <section class="banner bg-navy">
        <div class="container">
            <div class="row py-5">
                <div class="col mb-3">
                    <img height="73" width="300" src="{{ '/assets/images/D-CRAFT-Logo-White.png' | relative_url }}" alt="dcraft logo">
                    <p class="mt-2">
                        Helping digital collections measure impact.
                    </p>
                    <p>Hashtag: #digreuse</p>

                    <div class="my-5 pt-5">
                        <ul >
							<li>
                                <a href="https://www.diglib.org/groups/assessment/">
                                    A project of the DIgital Library Assessment Group
								</a>
							</li>
							<li>
                                <a href="https://osf.io/4nbdp/">
                                    Documents archived in OSF Repository
								</a>
							</li>
							<li>
                                <a href="https://www.imls.gov/grants/awarded/lg-36-19-0036-19">
                                    This project was made possible in part by the Institute of Museum and Library Services</span>
								</a>
							</li>
						</ul>
                    </div>
                </div>
                <div class="col">
                    <h2>Toolkit</h2>
                    <ul class="list-unstyled">
                        <li>
                            <a href="https://reuse.diglib.org/toolkit/">
                                Toolkit Index
                            </a>
                        </li>
                        <li>
                            <a href="https://reuse.diglib.org/related-resources/">Related Resources</a>
                        </li>
                        <li>
                            <a href="https://reuse.diglib.org/glossary/">Glossary</a>
                        </li>
                    </ul>
                </div>
                <div class="col">
                    <h2>About</h2>
                    <ul class="list-unstyled">
                        <li>
                            Project Team
                            <ul class="list-unstyled">
                                <li><i class="bi bi-chevron-right"></i> Consultants & Experts</li>
                                <li><i class="bi bi-chevron-right"></i> Advisory Group</li>
                                <li><i class="bi bi-chevron-right"></i> Acknowledgements</li>
                            </ul>
                        </li>
                        <li>Presentations</li>
                        <li>Publications</li>
                        <li>Contact Us</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section class="bg-navy-light">
        <div class="container">
            <div class="copyright text-center py-4">
                <a href="https://creativecommons.org/licenses/by/4.0/" target="_blank">
                    This work is licensed under a Creative Commons Attribution 4.0 International License.
                </a>
            </div>
        </div>
    </section>
</footer>