$light-blue: rgb(224,243,250);
$navy: rgb(0,28,56);
$light-navy: rgb(28,54,101);


$reverse-image: #1E6933;
$altmetrics: #285F9F;
$surveys: #155F85;
$interviews: #5A6060;
$web-analytics: #0034AC;

header {
    height: 5rem;
    img {
        height: 62px;
    }
}

// main {
//     
// }

.heading {
    background-color: $light-blue;
}

.card {
    color: rgb(22,73,175); 
}

h1 {
    color: rgb(22,73,175);
}


footer {
    color: #fff;
    a { 
        color: #fff; 
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }

    .nav-link { color: #fff; }
    .next-muted {color: #fff; }

    li {
        padding-top: 0.8rem;
    }
}
.bg-navy {
    background-color: $navy;
}

.bg-navy-light {
    background-color: $light-navy;
    border-top: 1px solid lighten($navy, 70%);
}

.copyright {
    font-size: 14px;
}
